h1 404 Not Found
a(href="javascript:;" onclick="history.back()") Trang chủ



//- script.
//-   const aTag = document.querySelector("a")
//-   aTag.addEventListener("click",()=>{
//-     history.back()
//-   })
  