extends ../../layouts/default.pug
include ../../mixins/boxhead.pug
include ../../mixins/list-product.pug

block main
  .container.my-3
    .row
      .col-12
        .box-head 
          +box-head(pageTitle)

    +list-product(products)